body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 1.4em;
}

ul li {
    list-style-type: none;
    padding: 7px 0px;
    font-size: 18px;
    font-weight: 500;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  top: 0px;
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.35);
box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.35);
}

.nav-bar ul li {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
}

.button {
    border: 2px solid black;
    margin-top: 30px;
    width: 200px;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 3px;
}

.button:hover {
    background: black;
    color: white;
}

.nav-bar ul li:hover {
    color: #3d8cf9;
}
.header {
  position: relative;
  height: 600px;
}
.content-wrapper {
    background: #3d8cf9;
    height: 100vh;
    width: 100%;
    position: absolute;
}
.header-content.content-wrapper {
    height: 600px;
}
.header .content {  padding: 200px 20%;}
.content {
    padding: 150px 20%;
    margin-top: 75px;
    opacity: 0;
    -webkit-transition: margin-top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -moz-transition: margin-top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -o-transition: margin-top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    transition: margin-top 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.section p, .section img {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
.section h2 {
  font-size: 35px;
}
 .section img {
   width: 40%;
   padding-left:5%;
 }

.slide-up {
    margin-top: 0px;
    opacity: 1;
}

.solution {
    vertical-align: top;
    display: inline-block;
    width: 49%;
}

.solution ul {
    padding: 0;
    margin: 0;
}

.solution li {
    padding: 10px;
    list-style-type: none;
}

.solution li:hover {
    color: white;
}

.background-img-wrapper {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.background-img-wrapper img {
    width: 100%;
    filter: blur(5px);
}
