body {
  margin: 0; }

/*
* === OVERIDE STYLES ===
*/
h1,
h2,
h3,
li {
  margin: 5px;
  font-family: 'Fjalla One', sans-serif; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em; }

h4 {
  margin: 5px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif; }

p {
  margin: 5px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .9em; }

h2 {
  font-size: 1.5em; }

a {
  color: black;
  text-decoration: none; }

/*
* === NAVIGATION STYLES ===
*/
.navigation {
  z-index: 10;
  position: fixed;
  right: 3%; }
  .navigation ul {
    padding: 0;
    width: 185px;
    height: 50px;
    text-align: center;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    overflow: hidden; }
    .navigation ul .link {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
    .navigation ul li {
      position: relative;
      list-style-type: none;
      margin: 10px 8px;
      cursor: pointer;
      display: inline-block; }
      .navigation ul li img {
        height: 31px;
        vertical-align: middle; }

.hoverable ul {
  width: 50px;
  transition-delay: .2s; }

.hoverable .link {
  opacity: 0; }

.hoverable:hover ul {
  width: 185px !important; }

.hoverable:hover .link {
  opacity: 1 !important;
  transition-delay: .5s; }

/*
* === HEADER STYLES ===
*/
.header {
  position: relative; }
  .header h1 {
    font-size: 6.5em;
    display: inline;
    color: white; }
  .header h1:first-child {
    margin-left: 45px; }
  .header h2 {
    color: white;
    opacity: 0.6;
    display: inline;
    font-size: 1.7em;
    font-family: 'Fjalla One', sans-serif; }
  .header .arrow-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    -webkit-transition: bottom 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out; }
    .header .arrow-wrapper .about-me {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      width: 100px;
      text-align: center;
      opacity: 0.7;
      bottom: 42px;
      margin: auto; }
      .header .arrow-wrapper .about-me p {
        color: white;
        font-size: 0.9em; }
  .header .visible-arrow {
    bottom: 0; }
  .header .line {
    width: 1px;
    height: 80px;
    position: absolute;
    background: white;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 0.7;
    bottom: -37px;
    margin: auto; }
  .header h2:first-child {
    margin-left: 455px; }
  .header .logo {
    width: 280px;
    left: 39%;
    opacity: 0.4;
    position: absolute;
    top: 70px; }
  .header .right {
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden; }
  .header .color-block {
    background: white;
    width: 100%;
    text-align: left;
    z-index: -1;
    position: absolute;
    z-index: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  .header .header-image-wrapper {
    background: #072294;
    width: 100%;
    opacity: 0.9; }
  .header .header-image {
    width: 60%;
    opacity: 0.8;
    margin: 0 auto;
    display: block; }
  .header .sub-text-wrapper,
  .header .text-wrapper {
    width: 60%;
    height: 100px;
    margin: 150px auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1; }
    .header .sub-text-wrapper .text,
    .header .text-wrapper .text {
      width: 0;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      -webkit-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
      -moz-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
      -o-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
      transition: width 0.8s ease-in-out, left 0.5s ease-in-out; }
  .header .sub-text-wrapper {
    width: 65%;
    margin: 280px auto 0; }

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@media only screen and (max-width: 1200px) {
  .header h1 {
    font-size: 4.7em; }
  .header h2:first-child {
    margin-left: 380px; }
  .header .logo {
    width: 270px; } }

@media only screen and (max-width: 950px) {
  .header h1 {
    font-size: 4.1em; }
  .header h2:first-child {
    margin-left: 275px; }
  .header .text-wrapper {
    margin: 16% auto;
    width: 70%; }
  .header .sub-text-wrapper {
    margin: 26% auto 0;
    width: 70%; }
  .header .logo {
    left: 31%;
    top: 80px; } }

@media only screen and (max-width: 780px) {
  .header .header-image {
    width: 125%; }
  .header h1 {
    font-size: 3.6em; }
  .header h2:first-child {
    margin-left: 200px; }
  .header .text-wrapper {
    margin: 19% auto; }
  .header .sub-text-wrapper {
    margin: 30% auto; } }

@media only screen and (max-width: 610px) {
  .header .header-image {
    width: 195%;
    margin-left: -41%; }
  .header .text-wrapper {
    width: 100%; }
  .header h1 {
    font-size: 3em; }
  .header h1:first-child {
    margin-left: 45px; }
  .header h2:first-child {
    margin-left: 25px; }
  .header .text-wrapper {
    margin: 120px auto 0; }
  .header .sub-text-wrapper {
    margin: 190px auto 0;
    font-size: 0.9em; } }

/*
* === Home ===
*/
.about-section {
  margin: 30px;
  height: 520px;
  background: #f8f8f8;
  -webkit-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out; }
  .about-section .icon {
    width: 95px; }
  .about-section p {
    line-height: 1.7em; }
  .about-section .text-wrapper {
    padding: 100px 0;
    width: 55%;
    margin: 0 auto; }
    .about-section .text-wrapper h2 {
      font-size: 3.4em;
      margin: 0 0 35px;
      font-family: 'Fjalla One', sans-serif; }
    .about-section .text-wrapper .contact {
      margin-top: 35px;
      text-align: center; }
      .about-section .text-wrapper .contact p {
        display: inline-block;
        font-weight: 400; }
      .about-section .text-wrapper .contact .line {
        width: 15px;
        vertical-align: super;
        display: inline-block;
        height: 1px;
        background: black;
        margin: 0 15px; }

.featured-wrapper {
  width: 100%; }
  .featured-wrapper .project-wrapper {
    width: 440px;
    height: 370px;
    width: 95%;
    margin: -2px;
    background: white; }
    .featured-wrapper .project-wrapper .project {
      height: 100%;
      position: relative; }
      .featured-wrapper .project-wrapper .project .text-wrapper {
        padding: 35px 100px;
        vertical-align: top; }
        .featured-wrapper .project-wrapper .project .text-wrapper h4 {
          text-transform: uppercase; }
      .featured-wrapper .project-wrapper .project .image-wrapper {
        position: absolute;
        background: #f2f2f2;
        padding: 25px 25px 0;
        width: 420px;
        right: 12%;
        overflow: hidden;
        max-height: 300px;
        bottom: 0; }
        .featured-wrapper .project-wrapper .project .image-wrapper img {
          width: 420px;
          -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2); }
  .featured-wrapper .project-wrapper:nth-child(odd) {
    margin-left: 5%; }
    .featured-wrapper .project-wrapper:nth-child(odd) .text-wrapper {
      text-align: right; }
    .featured-wrapper .project-wrapper:nth-child(odd) .image-wrapper {
      right: 0;
      left: 12%; }
  .featured-wrapper .project-wrapper:nth-child(even) .project {
    background: #f8f8f8; }

@media (max-width: 450px) {
  .about-section {
    height: 555px;
    margin: 30px auto;
    width: 95%; }
    .about-section .text-wrapper {
      padding: 75px 0;
      width: 88%; } }

/*
* === Work Page ===
*/
.portfolio {
  position: relative;
  padding: 50px 5%; }
  .portfolio margin:h2 {
    font-size: 2em; }
  .portfolio h3 {
    font-size: 1.5em; }
  .portfolio .content {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px; }
  .portfolio .portfolio-item:hover img {
    opacity: 0 !important; }
  .portfolio .portfolio-item:hover .portfolio-item-text {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .portfolio .portfolio-item {
    display: inline-block;
    width: 50%;
    height: 320px;
    overflow: hidden;
    position: relative; }
    .portfolio .portfolio-item .portfolio-item-text {
      opacity: 0;
      position: absolute;
      color: black;
      width: 100%;
      z-index: 2;
      height: 100%;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      padding-top: 30px; }
      .portfolio .portfolio-item .portfolio-item-text h1,
      .portfolio .portfolio-item .portfolio-item-text p {
        padding-top: 10px;
        margin: 0 auto;
        width: 70%;
        font-weight: 400; }
      .portfolio .portfolio-item .portfolio-item-text h1 {
        font-size: 2.8em; }
      .portfolio .portfolio-item .portfolio-item-text .view-work {
        position: absolute;
        bottom: 103px;
        text-align: right;
        width: 100%; }
        .portfolio .portfolio-item .portfolio-item-text .view-work p {
          margin-right: 33%;
          width: 0;
          font-weight: 300;
          width: auto; }
        .portfolio .portfolio-item .portfolio-item-text .view-work .line {
          width: 30%;
          margin-left: 70%;
          height: 1px;
          background: black;
          right: 0;
          margin-top: -13px; }
    .portfolio .portfolio-item .portfolio-item-image {
      position: relative;
      height: 100%; }
      .portfolio .portfolio-item .portfolio-item-image img {
        width: 52%;
        bottom: 0;
        position: absolute;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; }
  .portfolio #deschutes {
    width: 59%;
    margin: 1% 1% 1% 0;
    background: #d8cfc7; }
    .portfolio #deschutes img:nth-child(1) {
      z-index: 1;
      right: 10%;
      bottom: 66px;
      webkit-box-shadow: -1px 11px 20px 8px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 11px 20px 8px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 11px 20px 8px rgba(0, 0, 0, 0.2); }
    .portfolio #deschutes img:nth-child(2) {
      opacity: 0.8;
      right: 35%;
      width: 52%;
      bottom: -48px; }
  .portfolio #zealery {
    width: 40%;
    background: #0fb28b;
    margin-right: -6px;
    margin-bottom: 1%; }
    .portfolio #zealery img {
      width: 35%;
      bottom: -25px;
      right: 10%; }
  .portfolio #graphic-design {
    background: #f2f2f2;
    width: 32%;
    margin-right: -28px; }
    .portfolio #graphic-design img {
      width: 45%;
      right: 10%; }
  .portfolio #macro {
    width: 33%;
    background: #313d68; }
    .portfolio #macro img {
      width: 118%;
      right: -30%;
      top: 22%; }
  .portfolio #music-visualizer {
    width: 33%;
    background: #5785ff;
    margin: 0 1%; }
    .portfolio #music-visualizer img {
      width: 100%; }

.hideme {
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

@media (max-width: 650px) {
  .portfolio .portfolio-item {
    width: 100% !important;
    height: 365px;
    margin: 0 0 5% !important; }
    .portfolio .portfolio-item .portfolio-item-text {
      opacity: 1;
      padding-top: 15px; }
      .portfolio .portfolio-item .portfolio-item-text h1 {
        font-size: 2em; }
      .portfolio .portfolio-item .portfolio-item-text h1,
      .portfolio .portfolio-item .portfolio-item-text p {
        width: 85%; } }

@media (max-width: 400px) {
  .portfolio .view-work {
    display: none; }
  .portfolio #deschutes img:nth-child(1) {
    width: 95%;
    right: -27%;
    bottom: 10px; }
  .portfolio #deschutes img:nth-child(2) {
    bottom: -84px;
    width: 100%;
    right: -9%; }
  .portfolio #zealery img {
    width: 62%;
    bottom: -145px; }
  .portfolio #macro img {
    top: inherit;
    bottom: -30px; }
  .portfolio #music-visualizer img {
    bottom: 0px; }
  .portfolio #graphic-design img {
    bottom: -120px;
    width: 70%; } }

/*
* === Portfolio Page ===
*/
.portfolio-page h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  padding-bottom: 18px; }

.portfolio-page .hidden-header {
  opacity: 0;
  padding-top: 50px;
  -webkit-transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out; }
  .portfolio-page .hidden-header img {
    margin-top: 50px;
    -webkit-transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out; }

.portfolio-page .slide-up {
  padding-top: 0;
  opacity: 1; }
  .portfolio-page .slide-up img {
    margin-top: 0; }

.portfolio-page .portfolio-header {
  color: white;
  position: relative;
  height: 90vh;
  overflow: hidden; }
  .portfolio-page .portfolio-header .text-wrapper {
    width: 50%;
    padding: 170px 14%; }
    .portfolio-page .portfolio-header .text-wrapper .type {
      font-weight: 400;
      font-size: 1.2em; }
    .portfolio-page .portfolio-header .text-wrapper h1 {
      margin: 0 0 15px;
      font-size: 4em; }
  .portfolio-page .portfolio-header .image-wrapper {
    width: 25%;
    max-height: 450px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    bottom: -35px;
    padding: 35px;
    right: 14%; }
    .portfolio-page .portfolio-header .image-wrapper img {
      -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
      width: 100%; }

.portfolio-page .button {
  border: 1px solid white;
  width: 170px;
  text-align: center;
  padding: 10px 15px;
  margin: 30px 0;
  color: white;
  font-weight: 400; }

.portfolio-page .info-wrapper .sub-section {
  display: inline-block;
  margin: 0 7%;
  text-align: left;
  max-width: 260px;
  vertical-align: top;
  margin-bottom: 10px; }
  .portfolio-page .info-wrapper .sub-section h2 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 900; }
  .portfolio-page .info-wrapper .sub-section p {
    font-size: 1.2em; }

.portfolio-page .image-section:nth-child(odd) {
  text-align: right; }

.portfolio-page .image-section {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 75px; }
  .portfolio-page .image-section img {
    width: 60%;
    -webkit-box-shadow: 0 0 13px 2px rgba(230, 230, 230, 0.8);
    -moz-box-shadow: 0 0 13px 2px rgba(230, 230, 230, 0.8);
    box-shadow: 0 0 13px 2px rgba(230, 230, 230, 0.8); }
  .portfolio-page .image-section .line {
    width: 61px;
    height: 3px;
    background: black;
    position: absolute;
    top: 9px; }
  .portfolio-page .image-section h2 {
    position: absolute;
    top: -10px;
    left: -30px; }
  .portfolio-page .image-section .two-images-stagger {
    text-align: center;
    margin-top: -55px; }
    .portfolio-page .image-section .two-images-stagger img:nth-child(1) {
      width: 34%;
      margin: 55px 70px 55px 0; }
    .portfolio-page .image-section .two-images-stagger img:nth-child(2) {
      width: 34%; }

.portfolio-page .section {
  margin: 60px 0;
  background: #f8f8f8; }
  .portfolio-page .section .bg {
    width: 100%; }
  .portfolio-page .section .text-wrapper {
    padding: 100px 0;
    width: 70%;
    position: relative;
    z-index: 10;
    margin: 0 auto; }
    .portfolio-page .section .text-wrapper p {
      line-height: 1.9;
      width: 80%; }

.portfolio-page .section.info-section {
  margin-top: 50px;
  padding: 0;
  background: none;
  height: auto; }

.zealery .portfolio-header {
  background: #0fb28b; }

.zealery .image-section {
  width: 60%;
  margin: 30px auto; }
  .zealery .image-section img {
    width: 37%; }
  .zealery .image-section .two-images {
    text-align: center; }
    .zealery .image-section .two-images img:nth-child(1) {
      margin-left: 30%; }
    .zealery .image-section .two-images img:nth-child(2) {
      width: 33%;
      position: absolute;
      left: 15%;
      z-index: -1;
      top: 35px; }
  .zealery .image-section .two-images-horizontal {
    text-align: center; }
    .zealery .image-section .two-images-horizontal img {
      -webkit-box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2); }
    .zealery .image-section .two-images-horizontal .section-image:nth-child(1) {
      width: 75%;
      margin-top: 101px; }
    .zealery .image-section .two-images-horizontal .section-image:nth-child(2) {
      position: absolute;
      z-index: 1;
      left: 51%;
      top: 0; }

.graphic-design .portfolio-header {
  background: #1e66ee; }

.graphic-design .image-section {
  width: 75%; }
  .graphic-design .image-section .two-images-stagger {
    text-align: center;
    margin-top: -55px; }
    .graphic-design .image-section .two-images-stagger img:nth-child(1) {
      width: 34%;
      margin: 57px 7% 150px 0; }
    .graphic-design .image-section .two-images-stagger img:nth-child(2) {
      width: 34%; }

.macro-market .portfolio-header {
  background: #313d68; }
  .macro-market .portfolio-header .image-wrapper {
    width: 65%; }

.macro-market .image-section {
  width: 60%; }
  .macro-market .image-section img {
    width: 90%; }

.deschutes-river .portfolio-header {
  background: #d8cfc7; }
  .deschutes-river .portfolio-header .image-wrapper {
    width: 65%; }

.deschutes-river .image-section {
  width: 60%; }
  .deschutes-river .image-section img {
    width: 90%; }

.deschutes-river .portfolio-header .text-wrapper,
.macro-market .portfolio-header .text-wrapper,
.music-visualizer .portfolio-header .text-wrapper {
  padding: 170px 5%; }

.deschutes-river .portfolio-header .image-wrapper,
.macro-market .portfolio-header .image-wrapper,
.music-visualizer .portfolio-header .image-wrapper {
  right: -12%;
  bottom: -40px; }

.music-visualizer .portfolio-header {
  background: #5785ff; }
  .music-visualizer .portfolio-header .text-wrapper {
    z-index: 10;
    position: relative; }
  .music-visualizer .portfolio-header .image-wrapper {
    width: 65%; }
    .music-visualizer .portfolio-header .image-wrapper img {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

.music-visualizer .image-section {
  width: 60%; }
  .music-visualizer .image-section img {
    width: 90%; }

@media only screen and (max-width: 950px) {
  .portfolio-page .portfolio-header .image-wrapper {
    width: 33%;
    right: 8%; }
  .portfolio-page .portfolio-header .text-wrapper {
    padding: 170px 8%; } }

@media only screen and (max-width: 780px) {
  .portfolio-page .portfolio-header {
    height: 80vh; }
    .portfolio-page .portfolio-header .image-wrapper {
      width: 40%;
      max-width: 250px;
      right: 0;
      margin: auto;
      bottom: -130px; }
    .portfolio-page .portfolio-header .text-wrapper {
      padding: 0;
      width: 90%;
      margin: 105px auto; }
  .portfolio-page .section {
    margin: 60px 0; }
    .portfolio-page .section .text-wrapper {
      width: 80%; }
  .portfolio-page .info-wrapper {
    text-align: center; }
    .portfolio-page .info-wrapper .sub-section {
      margin: 0 4%;
      max-width: 200px; }
  .portfolio-page .image-section {
    width: 90%; } }

@media only screen and (max-width: 450px) {
  .portfolio-page .button {
    margin: 15px 0; }
  .portfolio-page .section .text-wrapper p {
    width: 100%; }
  .portfolio-page .portfolio-header {
    height: 90vh;
    min-height: 550px; }
    .portfolio-page .portfolio-header .text-wrapper {
      margin: 100px auto; }
      .portfolio-page .portfolio-header .text-wrapper h1 {
        font-size: 3em; }
      .portfolio-page .portfolio-header .text-wrapper .type {
        font-size: 1em; }
    .portfolio-page .portfolio-header .image-wrapper {
      width: 60%;
      bottom: -110px; }
  .portfolio-page .section {
    margin: 30px 0; }
  .portfolio-page .info-wrapper {
    margin: 50px 5%; }
    .portfolio-page .info-wrapper .sub-section {
      margin-bottom: 25px;
      display: block; }
  .deschutes-river .portfolio-header .image-wrapper {
    bottom: -55px;
    width: 105%;
    right: -145px;
    max-width: none; }
  .zealery .portfolio-header .image-wrapper {
    bottom: -185px;
    width: 60%;
    max-width: none; }
  .zealery .portfolio-header .text-wrapper h1 {
    font-size: 4em; }
  .zealery .image-section {
    width: 80%; }
    .zealery .image-section .two-images-stagger img:nth-child(1),
    .zealery .image-section .two-images-stagger img:nth-child(2),
    .zealery .image-section img {
      width: 70%;
      margin: 0 auto;
      display: block; }
    .zealery .image-section .two-images-stagger img:nth-child(1) {
      margin: 80px auto; }
    .zealery .image-section .two-images img:nth-child(2) {
      width: 55%;
      left: 0; }
    .zealery .image-section .two-images-horizontal .section-image:nth-child(1) {
      width: 100%; }
    .zealery .image-section .two-images-horizontal .section-image:nth-child(2) {
      right: 0;
      left: auto;
      top: -60px;
      width: 60%; }
  .macro-market .portfolio-header .image-wrapper {
    bottom: 0;
    width: 100%;
    right: -125px;
    max-width: none; }
  .graphic-design .image-section {
    width: 70%;
    max-width: none;
    bottom: -120px; }
    .graphic-design .image-section .two-images-stagger img:nth-child(1),
    .graphic-design .image-section .two-images-stagger img:nth-child(2) {
      display: block;
      width: 80%;
      margin: 0 auto 50px; }
  .graphic-design .section .text-wrapper {
    width: 90%;
    padding: 40px 0; }
    .graphic-design .section .text-wrapper p {
      line-height: 1.7;
      width: 98%; } }
