body {
  margin: 0; }

/*
* === OVERIDE STYLES ===
*/
h1,
h2,
h3,
h4,
li {
  margin: 5px;
  font-family: 'Fjalla One', sans-serif; }

p {
  line-height: 1.5; }

h2 {
  font-size: 1.5em; }

a {
  color: black;
  text-decoration: none; }

/*
* === NAVIGATION STYLES ===
*/
.navigation {
  z-index: 10;
  position: fixed;
  right: 3%; }
  .navigation ul {
    padding: 0;
    width: 185px;
    height: 50px;
    text-align: center;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    overflow: hidden; }
    .navigation ul .link {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
    .navigation ul li {
      position: relative;
      list-style-type: none;
      margin: 10px 8px;
      cursor: pointer;
      display: inline-block; }
      .navigation ul li img {
        height: 31px;
        vertical-align: middle; }

.hoverable ul {
  width: 50px;
  transition-delay: .2s; }

.hoverable .link {
  opacity: 0; }

.hoverable:hover ul {
  width: 185px !important; }

.hoverable:hover .link {
  opacity: 1 !important;
  transition-delay: .5s; }

/*
* === HEADER STYLES ===
*/
.header h1 {
  font-size: 5.5em;
  display: inline; }

.header h1:first-child {
  margin-left: 45px; }

.header h2 {
  display: inline; }

.header h2:first-child {
  margin-left: 455px; }

.header .logo {
  width: 280px;
  left: 39%;
  opacity: 0.4;
  position: absolute;
  top: 70px; }

.header .right {
  position: relative;
  width: 63%;
  margin-left: 37%;
  height: 72vh;
  min-height: 470px; }

.header .color-block {
  right: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  height: 100%;
  background: #e8dccf;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; }

.header .sub-text-wrapper,
.header .text-wrapper {
  width: 50%;
  height: 100px;
  margin: 150px auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1; }
  .header .sub-text-wrapper .text,
  .header .text-wrapper .text {
    width: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    -webkit-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
    -moz-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
    -o-transition: width 0.8s ease-in-out, left 0.5s ease-in-out;
    transition: width 0.8s ease-in-out, left 0.5s ease-in-out; }

.header .sub-text-wrapper {
  width: 65%;
  margin: 250px auto; }

@media only screen and (max-width: 1200px) {
  .header h1 {
    font-size: 4.7em; }
  .header h2:first-child {
    margin-left: 380px; }
  .header .logo {
    width: 270px; } }

@media only screen and (max-width: 950px) {
  .header h1 {
    font-size: 4.1em; }
  .header h2:first-child {
    margin-left: 275px; }
  .header .right {
    width: 73%;
    margin-left: 27%; }
  .header .text-wrapper {
    margin: 16% auto;
    width: 70%; }
  .header .sub-text-wrapper {
    margin: 26% auto;
    width: 70%; }
  .header .logo {
    left: 31%;
    top: 80px; } }

@media only screen and (max-width: 750px) {
  .header h1 {
    font-size: 3.6em; }
  .header h2:first-child {
    margin-left: 200px; }
  .header .text-wrapper {
    margin: 19% auto; }
  .header .sub-text-wrapper {
    margin: 30% auto; } }

@media only screen and (max-width: 610px) {
  .header .right {
    width: 80%;
    margin-left: 20%; }
  .header .text-wrapper {
    width: 100%; }
  .header h1 {
    font-size: 3em; }
  .header h1:first-child {
    margin-left: 20px; }
  .header h2:first-child {
    margin-left: 10px; }
  .header .text-wrapper {
    margin: 190px auto; }
  .header .sub-text-wrapper {
    margin: 250px auto; }
  .header .logo {
    left: 20%;
    top: 100px;
    width: 245px; } }

/*
* === Home ===
*/
.about-section {
  margin: 30px;
  width: 80%;
  height: 400px;
  background: #f8f8f8;
  -webkit-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out, padding-top 0.5s ease-in-out; }
  .about-section .text-wrapper {
    padding: 100px 15%;
    width: 55%; }
    .about-section .text-wrapper h2 {
      font-size: 2em;
      margin: 0; }

.featured-wrapper {
  width: 100%; }
  .featured-wrapper .project-wrapper {
    width: 440px;
    height: 370px;
    width: 95%;
    margin: -2px;
    background: white; }
    .featured-wrapper .project-wrapper .project {
      height: 100%;
      position: relative; }
      .featured-wrapper .project-wrapper .project .text-wrapper {
        padding: 35px 100px;
        vertical-align: top; }
        .featured-wrapper .project-wrapper .project .text-wrapper h4 {
          text-transform: uppercase; }
      .featured-wrapper .project-wrapper .project .image-wrapper {
        position: absolute;
        background: #f2f2f2;
        padding: 25px 25px 0;
        width: 420px;
        right: 12%;
        overflow: hidden;
        max-height: 300px;
        bottom: 0; }
        .featured-wrapper .project-wrapper .project .image-wrapper img {
          width: 420px;
          -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2); }
  .featured-wrapper .project-wrapper:nth-child(odd) {
    margin-left: 5%; }
    .featured-wrapper .project-wrapper:nth-child(odd) .text-wrapper {
      text-align: right; }
    .featured-wrapper .project-wrapper:nth-child(odd) .image-wrapper {
      right: 0;
      left: 12%; }
  .featured-wrapper .project-wrapper:nth-child(even) .project {
    background: #f8f8f8; }

/*
* === Home ===
*/
.work .portfolio-item {
  display: inline-block;
  width: 30%; }
  .work .portfolio-item .portfolio-item-image {
    width: 100%; }
    .work .portfolio-item .portfolio-item-image img {
      width: 100%; }
